<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <title>{{ page.title | default: site.title }}{% if page.author %} by {{ page.author }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.cat.net/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--添加网页图标-->
    <link href="{{ site.github.url }}/favicon.ico" rel="shortcut icon">
    <!--添加代码高亮-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/default.min.css">
  </head>
  <body>
      <section class="page-header">
          <h1 class="project-name">{{ page.title | default: site.title }}</h1>
          <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          {% if page.author %}
          <h2 class="project-tagline">作者: {% page.author %}</h2>
          {% endif %}
          {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
          {% endif %}
        </section>
    <section class="main-content">
      {{ content }}
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>由<a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>创建.</span>
        {% endif %}
        <span class="site-footer-credits">
          友情链接：<a href="https://hdulxy.github.io/AST/">杭电理学院科协-首页</a>
        </span>
      </footer>
    </section>
  </body>
</html>
